/* Add your CSS code here */

html {
    font-family: 'Shantell', sans-serif;
    scroll-behavior: smooth;
}

#header {
  background-image: url(../assets/images/floralbackground.jpeg);
    background-size: cover;
    background-position: 40% 48%;
    height: 20vh;
  color: #6f937f;
  padding: 10px 0;
  text-align: center;
}
h1 {
    font-size: 3em;
    margin: 0;
    padding: 0;
}
#button {
    margin: 20px 10%;
  background-color: #5a5546b7;
    padding: 10px 20px;
  display: inline-block;
  color: #ffffff;
    border: 10px;
  text-decoration: none;
    border-radius: 20px;
}
#cartoon {
    display: block;
    margin-left: 80%;
   border-radius: 50%;
    height: 250px;
    width: 300px;
    display: block;
}
body {
    background-color: #8d6c6c;
    margin: 0;
    padding: 0;
}